.col {
  height: 230px;
}

.row {
  padding: 0 60px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  &__bigger-spinner {
    width: 120px;
    height: 120px;
  }
}

.bottom-bar {
  text-align: center;
}
